<a href="https://colab.research.google.com/github/grvtaun/Python-/blob/main/Task_10_Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task - 10

In [9]:
x ='paperworks'

z = [i for i in x]
print(z)

['p', 'a', 'p', 'e', 'r', 'w', 'o', 'r', 'k', 's']

In [13]:
z = [i for i in range(10) if i>2]
print(z)

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
x  = 'PythonList'

In [6]:
x_list = [char for char in x]
print(x_list)

['P', 'y', 't', 'h', 'o', 'n', 'L', 'i', 's', 't']

In [40]:
x = [2,4,6,8,10]
for i in map(square,x):
  print(i)
list(map(square,x))

4
16
36
64
100

[4, 16, 36, 64, 100]

In [27]:
my_nums = [1,2,3,4,5]
def square(num):
    return num**2

for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [51]:
A = [1,2,3,4,5]

def even_odd(A):
   if (A%2 == 0):
     return 'even'
   else:
    return 'odd'


list(map(even_odd,A))

['odd', 'even', 'odd', 'even', 'odd']

In [55]:
from functools import reduce

numbers = [1, 2, 3, 4]

reduce(lambda a, b: a + b, numbers)

10

In [56]:
from functools import reduce

numbers = [1, 2, 3, 4]

reduce(lambda a, b: a * b, numbers)

24

In [8]:

from functools import reduce

mul(2,3)
4

numbers = [1, 2, 3, 4]

reduce(mul, numbers,2) #reduce(function, iterable,[initializer])

48

Pythonâ€™s reduce() is a function that implements a mathematical technique called folding or reduction. reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.

reduce(function, iterable,[initializer])

The reduce function can take in three arguments, two of which are required. The two required arguments are: a function (that itself takes in two arguments), and an iterable (such as a list). The third argument, which is an initializer,The default value for it is None. If we pass in an initializer, it will be used as the first x value by reduce (instead of x being the first element of the iterable)

In [1]:
l1 = ["red","blue","green"]
s1 = "geek"
 
# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)
 
print ("Return type:",type(obj1))
print (list(enumerate(l1)))
 
# changing start index to 2 from 0
print (list(enumerate(s1,2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [1]:
l1 = ["eat","sleep","repeat"]
 
# printing the tuples in object directly
for ele in enumerate(l1):
    print (ele)
print
# changing index and printing separately
for count,ele in enumerate(l1,100):
    print (count,ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat

Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method.

In [3]:
s1 = {2, 3, 1}
s2 = {'b', 'a', 'c'}
list(zip(s1, s2))

[(1, 'b'), (2, 'c'), (3, 'a')]

In [4]:
s1 = "Java"
s2 = "Python"
s3 = "PHP"
print(list(zip(s1, s2, s3)))

[('J', 'P', 'P'), ('a', 'y', 'H'), ('v', 't', 'P')]

In [9]:
items = ['book', 'keyboard','pen', 'mouse']
price = [325, 500, 75, 250]
sortedlist = sorted(list(zip(price,items)))
print(sortedlist)

[(75, 'pen'), (250, 'mouse'), (325, 'book'), (500, 'keyboard')]

The zip() method takes one or more iterables (such as list, tuple, string, etc.) and constructs the iterator of tuples where each tuple contains elements from each iterable.