<a href="https://colab.research.google.com/github/grvtaun/Python-/blob/main/Tast_3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list2 = [1,2,3,4,5,6,7,8,9]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list2.remove(4)
print(list2)

[1, 2, 3, 5, 6, 7, 8, 9]

remove() function tends to remove the given object from the list and cannot be replaced again. 

\

In [ ]:
str1 = [1,2,3,1,2,2,4,5,6]
while(str1.count(2)):str1.remove(2)
print(str1)

[1, 3, 1, 4, 5, 6]

In [ ]:
while 1 in str1: str1.remove(1)
print(str1)

[3, 4, 5, 6]

Count() is used to remove a particular object from the list all together.

In [ ]:
abc = [23,'Riya','lives',2,'km','away']
print(abc)
abc.clear()
print(abc)

[23, 'Riya', 'lives', 2, 'km', 'away']
[]

Clear() function is used to clear all the objects from the list at once.

In [ ]:
Height = [2.01, 2.00, 3.67, 3.28, 1.68]
Height.sort() # assceding order sorting
print(Height)

[1.68, 2.0, 2.01, 3.28, 3.67]

In [ ]:
Height.sort(reverse=True) #Descending order sorting
print(Height)

[3.67, 3.28, 2.01, 2.0, 1.68]

In [ ]:
slot = [2,4,6,7,3,1,6,7, 'yo', 2,'rat']
slot.reverse() #to reverse all the objects in the list. 
print(slot)

['rat', 2, 'yo', 7, 6, 1, 3, 7, 6, 4, 2]

Task 3.2

In [ ]:
lenght =[1,2,3,4,5,6,7,8,9,10]
lenght[5:8]

[6, 7, 8]

Task 4

In [62]:
l1 = [10,20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2].append('70')
print(l1)

[10, 20, [30, 40, [50, 60, '70'], 80], 90, 100]

In [64]:
l2 = [1,2,[3,4,5,6],9]
l2[2].append('[6,7]')
print(l2)

[1, 2, [3, 4, 5, 6, '[6,7]'], 9]